/* Your Styles Here */
body{
    background-color: #0c1117;
}

.profile-card {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.profile-card img {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    margin-bottom: 12px;
    object-fit: cover;
}