/* Your Styles Here */
body{
    background-color: #0c1117;
    color: white;
    font-family: system-ui, sans-serif;
}

.hero-image {
    display:flex;
    justify-content:center;
    margin:30px;
}

.picture {
    width:15vw;
    height:15vw;
    position:relative;
}

.picture .mask {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 106%;
    height: 106%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #0c1117;
    z-index: -1;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.picture::after {
    content:'';
    position:absolute;
    height:109%;
    width:109%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -2;
    padding: 1px;
    border-radius: 50%;
    background-image: conic-gradient(from var(--angle), transparent 50%, rgb(97, 97, 193), rgb(160, 98, 160));
    animation: 3s spin linear infinite;
}

.picture::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

.picture img{
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    object-position: center top;
    border-radius: 50%;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.hero-text {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 3rem;
    font-weight: 600;
}

.hero-text-card {
    margin: 30px auto;
    padding: 30px 40px;
    width: 750px;

    border-radius: 20px;
    text-align: center;

    background-color: #1f1f22;
    font-size: 1.3rem;
    margin: 0 auto;
    line-height: 35px;
    
}

.intro {
    font-weight: 550;
    text-decoration: underline;
    text-underline-offset: 7px;
}

.about {
    font-weight: 300;
}

.gradient {
    background: linear-gradient(to right, rgb(97, 97, 193), rgb(160, 98, 160), rgb(160, 98, 160), rgb(97, 97, 193));
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 200% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
